<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="cstmContainer">
        <button class="backBtn" (click)="back()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
              <div class="itemContent">
                <h5 class="itemName mt-5 mb-3">
                  <span @fadeIn>{{ data?.name?.split(' ')[0] }}</span>
                  <span @fadeIn> {{ data?.name?.split(' ')[1] }}</span>
                </h5>
                <p class="itemDescription mt-3 mb-5" @fadeIn>{{ data?.description ? data?.description
                  :data?.details?.description }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="w-100 d-flex justify-content-center align-items-center">
                <div class="itemImg mt-5" @fadeIn>
                  <app-img src="{{data?.image ? data?.image : data?.details?.image}}"
                    [styles]="{ 'width': '100%', 'height': '100%', 'object-fit': 'contain' }"></app-img>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <ng-container
              *ngIf="data?.addons_id_list?.length ? data?.addons_id_list?.length : data?.details?.addons_id_list?.length">
              <div
                [ngClass]="(data?.suggested_list?.length ? data?.suggested_list?.length : data?.details?.suggested_list?.length) ? 'col-sm-6' : 'col-sm-12'">
                <h6 @fadeIn class="text-center text-light mb-5">Add Ons</h6>
                <app-suggested-item [data]="data?.addons_id_list ? data?.addons_id_list : data?.details?.addons_id_list"
                  title="addOn" [parentItem]="data"></app-suggested-item>
              </div>
            </ng-container>
            <ng-container
              *ngIf="data?.suggested_list?.length ? data?.suggested_list?.length : data?.details?.suggested_list?.length">
              <div
                [ngClass]="(data?.addons_id_list?.length ? data?.addons_id_list?.length : data?.details.addons_id_list?.length) ? 'col-sm-6' : 'col-sm-12'">
                <h6 @fadeIn class="text-center text-light mb-5">Suggested Items</h6>
                <app-suggested-item [data]="data?.suggested_list ? data?.suggested_list : data?.details?.suggested_list"
                  title="suggestions" [parentItem]="data"></app-suggested-item>
              </div>
            </ng-container>
            <div class="col-sm-12">
              <div class="checkoutBtn d-flex justify-content-center w-100 mb-3">
                <button (click)="back()">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
