<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Current Orders</a>
    <ng-template ngbNavContent>
      <div class="container overflowScroll">
        <app-myorder [tables]="currentOrder" [opt]="'master orderStatus'"></app-myorder>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Pervious Orders</a>
    <ng-template ngbNavContent>
      <div class="container overflowScroll">
        <app-myorder [tables]="otherOrder" [opt]="'master orderStatus'"></app-myorder>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
