.nav-link.active{
  border-radius: 100px;
  color: var(--headings-primary-color);
  background-color: #272727;
}
.nav-link{
  margin: 0 10px;
  min-width: 120px;
  border-radius: 100px;
  color: var(--headings-primary-color);
}
.nav-tabs{
  border: none;
  max-height: 70px;
}
.tab-content{
  color: var(--headings-primary-color);
}
.rounded-div0 {
  height: 110px;
  width: 174px;
  border-radius: 50%;
  border: 4px solid transparent;
  background-color: #272727;
  background: linear-gradient(#272727, #272727) padding-box,
    linear-gradient(to top, #3384ff, #e20505) border-box;
}
.rounded-divngClass::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 200px;
  background-color: #565656;
  top: 39px;
  right: 80px;
  z-index: -1;
}
.rounded-div0 p {
  color: var(--headings-primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: "josefinsemilight";
}
.rounded-divngClass1::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 286px;
  background-color: #565656;
  top: -84px;
  right: -18px;
  z-index: -1;
  transform: rotate(90deg);
}
.rounded-divngClass2::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 286px;
  background-color: #565656;
  top: -84px;
  right: -18px;
  z-index: -1;
  transform: rotate(90deg);
}
