<ul ngbNav #navChild="ngbNav" [(activeId)]="childActive" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Pending Orders</a>
    <ng-template ngbNavContent>
      <app-myorder [tables]="pendingSales" [opt]="'pendingSale'"></app-myorder>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>All Orders</a>
    <ng-template ngbNavContent>
      <app-myorder [tables]="allSales" [opt]="'allSale'"></app-myorder>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="navChild" class="mt-2"></div>
