<div class="container">
  <div class="row">
    <div
      class="cstmCol mt-3 mb-3"
      *ngFor="let item of MenuItems; let i = index">
      <div
        class="item">
        <div class="itemPic" @fadeIn (click)="viewDetail(item)">
      <app-img src="{{item.image}}" alt="{{item?.name}}" [styles]="{ 'width': '100%', 'height': '100%', 'object-fit': 'contain' }"></app-img>
        </div>
        <div class="itemContent" @fadeIn (click)="viewDetail(item)">
          <h5 class="itemName mt-3" placement="bottom" ngbTooltip="{{ item.name }}">
            <span>{{ item.name }}</span>
          </h5>
          <p class="itemDescription" placement="bottom" ngbTooltip="{{ item.description }}">{{ item.description }}</p>
        </div>
        <div class="itemPrice" @fadeIn>
          <p>{{ item.price | currency: "USD" }}</p>
          <button class="addCartBtn" (click)="addItem(item)"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!MenuItems?.length">
        <h1 class="text-center text-light">No Data</h1>
    </ng-container>
  </div>
</div>
