<div class="container">
  <div class="row mt-5 align-items-center">
    <div class="col-sm-4 d-flex justify-content-start align-items-center">
      <div class="searchField mt-1 w-100">
        <input type="text" [(ngModel)]="searchInput" placeholder="Search Item" class="w-100" />
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="col-sm-2 d-flex justify-content-end align-items-center cstmDropDown">
      <ng-select placeholder="Sort" [(ngModel)]="selectedSort">
        <ng-option *ngFor="let sort of sorts" [value]="sort.name">{{sort.name}}</ng-option>
      </ng-select>
    </div>
    <div class="col-sm-6 d-flex justify-content-end align-items-center">
      <button class="addMenuBtn" [routerLink]="['add']">
        <i class="fa fa-plus"></i> Add Items
      </button>
    </div>
    <div class="col-sm-12 mt-1 listView">
      <div class="table-responsive">
        <table class="table table-dark table-borderless table-sm align-middle text-center">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="(MenuSelected | filter: searchInput)?.length; else noData">
              <tr *ngFor="
                  let i = index;
                  let item;
                  of: MenuSelected
                  | filter: searchInput
                    | paginate
                      : {
                          itemsPerPage: 10,
                          currentPage: duePage,
                          totalItems: total
                        }
                ">
                <th scope="row">{{ item?.item?.id }}</th>
                <td>{{ item?.item?.name ? item?.item?.name : "N/A" }}</td>
                <td> <span class="pointer" placement="top" [ngbTooltip]="item?.item?.description"> {{
                    item?.item?.description ?
                    (item?.item?.description | ellipsis:20) : "N/A" }} </span></td>
                <td>{{ item?.item?.category ? item?.item?.category : "N/A" }}</td>
                <td>{{ item?.item?.price ? item?.item?.price : "N/A" }}</td>
                <td>
                  <div class="toggle d-flex align-items-center w-100 justify-content-center">
                    <input class="checkBox" type="checkbox" [checked]="item?.item?.out_of_stock =='0' ? false: true"
                      [id]='"categoryStock"+i' (change)="stateItem(item?.item,'edit',$event)" /><label
                      [for]='"categoryStock"+i'></label>
                  </div>
                </td>
                <td class="d-flex justify-content-center align-items-center">
                  <button class="actionbtn" [routerLink]="['edit/'+item?.item.id]">
                    <i class="fa fa-edit mlicon"></i>
                  </button>
                  <button class="actionbtn" (click)="stateItem(item?.item,'delete',null)">
                    <i class="fa fa-trash mlicon"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-template #noData>
              <tr *ngIf="MenuSelected?.length">
                <td colspan="7" class="text-center white">No Matching Data Available</td>
              </tr>
            </ng-template>
            <tr *ngIf="!MenuSelected?.length">
              <td class="text-center white" colspan="7">
                No data available
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="exportFile"> <i class="fa fa-file"></i> Export File</p>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <p class="heading">Showing 1 to 10 of 26 Times</p>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          <pagination-controls previousLabel="&lsaquo;" nextLabel="&rsaquo;" (pageChange)="duePage = $event">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
