<div class="container mt-5 d-flex justify-content-center overflowScroll">
  <div class="row justify-content-between w-100">
    <div class="col-sm-2 totalOrder">
      <h6 class="realOrderText josefinRegular">Realtime Order</h6>
      <h1 class="realOrderSpan josefinRegular">{{overViewDetails?.realTimeOrders}}</h1>
      <p class="realOrderPara josefinRegular">{{overViewDetails?.realTimeOrdersItems}} Items</p>
    </div>
    <div class="col-sm-2 totalOrder">
      <h6 class="realOrderText josefinRegular">Table Occupied</h6>
      <h1 class="realOrderSpan josefinRegular">09</h1>
      <p class="realOrderPara josefinRegular">09/27</p>
    </div>
    <div class="col-sm-5 totalOrder">
      <h6 class="realOrderText josefinRegular">Sales Today</h6>
      <h1 class="realOrderSpan josefinRegular">{{overViewDetails?.sales_today | currency : 'USD'}}</h1>
      <p class="realOrderPara josefinRegular">{{overViewDetails?.total_orders}} Orders</p>
    </div>
    <div class="col-sm-2 totalOrder">
      <h6 class="realOrderText josefinRegular">Total Order</h6>
      <h1 class="realOrderSpan josefinRegular">105</h1>
      <p class="realOrderPara josefinRegular">{{date | date : 'shortDate'}}</p>
    </div>
    <div class="col-lg-12 mt-5">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
              [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
              [dataLabels]="chartOptions.dataLabels"></apx-chart>
    </div>
  </div>
</div>
