<div class="container overflowScroll">
  <div class="row">
    <div class="col-lg-12">
      <div class="w-100">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Sale Records</a>
            <ng-template ngbNavContent>
              <app-myorder [tables]="Sales" [opt]="'sale'"></app-myorder>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Expense Sheet</a>
            <ng-template ngbNavContent>
              <app-expenses></app-expenses>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
