<ng-container *ngIf="url == 'foodItems'">
  <div class="container pt-3">
    <div class="row">
      <div class="col-sm-12">
        <button class="backBtn" [routerLink]="pageCondition == 'edit' ? '../..' : '..'">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-lg-12">
        <form action="" class="form" [formGroup]="itemForm">
          <div class="row mt-4">
            <div class="col-lg-3 mt-3" *ngIf="image">
              <div class="imgBox">
                <label for="imageUpload" class="d-flex justify-content-center align-items-center imgUploadedBox">
                  <img width="100%" height="100%" [src]="image" alt="">
                </label>
              </div>
            </div>
            <div class="col-lg-3 mt-3" *ngIf="!image">
              <div class="imgBox">
                <label for="imageUpload" class="d-flex justify-content-center align-items-center">
                  <span class="addImage">+</span>
                </label>
              </div>
            </div>
            <div class="col-lg-7"></div>
            <input (change)="upload($event)" id="imageUpload" type="file" hidden />
            <div class="col-lg-7 mt-3">
              <input type="text" formControlName="name" placeholder="Name" class="text-light w-100" />
              <ng-container *ngIf="itemForm.get('name')?.errors && itemForm.get('name')?.touched">
                <p class="error">Name is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3">
              <textarea type="text" formControlName="description" placeholder="Description" class="text-light w-100"
                rows="5"></textarea>
              <ng-container *ngIf="itemForm.get('description')?.errors && itemForm.get('description')?.touched">
                <p class="error">Description is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3">
              <input type="text" formControlName="price" placeholder="Price" class="text-light w-100" />
              <ng-container *ngIf="itemForm.get('price')?.errors && itemForm.get('price')?.touched">
                <p class="error">Price is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3 cstmDropDown">
              <ng-select placeholder="Select Category" formControlName="category_id">
                <ng-option *ngFor="let item of subCategories" [value]="item?.id">{{item?.name}}
                </ng-option>
              </ng-select>
              <ng-container *ngIf="itemForm.get('category')?.errors && itemForm.get('category')?.touched">
                <p class="error">Category is required</p>
              </ng-container>
            </div>
            <div class="col-sm-6 mt-5 mb-3">
              <h3 class="white mb-3">Suggested AddOns</h3>
              <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let item of addOns; let i = index;">
                  <ng-template carouselSlide let-owlItem>
                    <div class="slide text-center" [@activeSlide]="owlItem.isCentered ? 'active' : 'inActive'">
                      <div class="item">
                        <div class="itemPic" @fadeIn>
                          <img src="{{ item.image }}" alt="" />
                        </div>
                        <div class="itemContent" @fadeIn>
                          <h5 class="itemName mt-3" placement="bottom" ngbTooltip="{{ item.name }}">
                            <span>{{ item.name }}</span>
                          </h5>
                          <p class="itemDescription" placement="bottom" ngbTooltip="{{ item.description }}">{{
                            item.description }}</p>
                        </div>
                        <div class="itemPrice" @fadeIn>
                          <p>{{ item.price | currency: "USD" }}</p>
                          <button class="addItemBtn" (click)="add(item,item?.selected ? false :true)">
                            <i
                              class="fa {{item?.selected? 'fa-minus' :'fa-plus' }}"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
            <div class="col-sm-6 mt-5 mb-3">
              <h3 class="white mb-3">Suggested Items</h3>
              <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let item of MenuSelected; let i = index">
                  <ng-template *ngIf="item?.item.id != id" carouselSlide let-owlItem>
                    <div class="slide text-center" [@activeSlide]="owlItem.isCentered ? 'active' : 'inActive'">
                      <div class="item">
                        <div class="itemPic" @fadeIn>
                          <img src="{{ item.item.image }}" alt="" />
                        </div>
                        <div class="itemContent" @fadeIn>
                          <h5 class="itemName mt-3" placement="bottom" ngbTooltip="{{ item.item.name }}">
                            <span>{{ item.item.name }}</span>
                          </h5>
                          <p class="itemDescription" placement="bottom" ngbTooltip="{{ item.item.description }}">{{
                            item.item.description }}</p>
                        </div>
                        <div class="itemPrice" @fadeIn>
                          <p>{{ item.item.price | currency: "USD" }}</p>
                          <button class="addItemBtn" (click)="add(item.item,item?.item?.selected ? false :true)">
                            <i
                              class="fa {{item?.item?.selected  ? 'fa-minus' :'fa-plus' }}"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
            <div class="col-lg-7 mt-3 mb-3 d-flex justify-content-between align-items-center">
              <button class="btn add-btn" [disabled]="!itemForm.valid" (click)="saveCategory('item')">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="url == 'category'">
  <div class="container pt-3">
    <div class="row">
      <div class="col-sm-12">
        <button class="backBtn" [routerLink]="pageCondition == 'edit' ? '../..' : '..'">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-lg-12">
        <form action="" class="form" [formGroup]="categoryForm">
          <div class="row mt-4">
            <div class="col-lg-3 mt-3" *ngIf="image">
              <div class="imgBox">
                <label for="imageUpload" class="d-flex justify-content-center align-items-center imgUploadedBox">
                  <img width="100%" height="100%" [src]="image" alt="">
                </label>
              </div>
            </div>
            <div class="col-lg-3 mt-3" *ngIf="!image">
              <div class="imgBox">
                <label for="imageUpload" class="d-flex justify-content-center align-items-center">
                  <span class="addImage">+</span>
                </label>
              </div>
            </div>
            <div class="col-lg-7"></div>
            <input (change)="upload($event)" id="imageUpload" type="file" hidden />
            <div class="col-lg-7 mt-3">
              <input type="text" placeholder="Name" formControlName="name" class="text-light w-100" />
              <ng-container *ngIf="categoryForm.get('name')?.errors && categoryForm.get('name')?.touched">
                <p class="error">Name is required</p>
              </ng-container>
            </div>
            <!-- <div class="col-lg-7 mt-3">
              <textarea type="text" placeholder="Description" formControlName="description" class="text-light w-100"
                rows="5"></textarea>
              <ng-container *ngIf="categoryForm.get('description')?.errors && categoryForm.get('description')?.touched">
                <p class="error">Description is required</p>
              </ng-container>
            </div> -->
            <div class="col-lg-7 mt-3 d-flex justify-content-between align-items-center">
              <button class="btn add-btn" [disabled]="!categoryForm.valid"
                (click)="saveCategory('category')">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="url == 'sub-category'">
  <div class="container pt-3">
    <div class="row">
      <div class="col-sm-12">
        <button class="backBtn" [routerLink]="pageCondition == 'edit' ? '../..' : '..'">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-lg-12">
        <form action="" class="form" [formGroup]="subCategoryForm">
          <div class="row mt-4">
            <div class="col-lg-7 mt-3">
              <input type="text" placeholder="Name" formControlName="name" class="text-light w-100" />
              <ng-container *ngIf="subCategoryForm.get('name')?.errors && subCategoryForm.get('name')?.touched">
                <p class="error">Name is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3">
              <div class="cstmDropDown">
                <ng-select placeholder="Parent Category" formControlName="parent_id">
                  <ng-option *ngFor="let parent of MenuSelected" [value]="parent.id">{{parent.name}}</ng-option>
                </ng-select>
              </div>
              <ng-container *ngIf="subCategoryForm.get('parent_id')?.errors && subCategoryForm.get('parent_id')?.touched">
                <p class="error">Parent Category is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3 d-flex justify-content-between align-items-center">
              <button class="btn add-btn" [disabled]="!subCategoryForm.valid"
                (click)="saveCategory('sub-category')">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="url == 'add-ons'">
  <div class="container pt-3">
    <div class="row">
      <div class="col-sm-12">
        <button class="backBtn" [routerLink]="pageCondition == 'edit' ? '../..' : '..'">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-lg-12">
        <form action="" class="form" [formGroup]="addOnForm">
          <div class="row mt-4">
            <div class="col-lg-3 mt-3" *ngIf="image">
              <div class="imgBox">
                <label for="imageUpload" class="d-flex justify-content-center align-items-center">
                  <img width="100%" height="100%" [src]="image" alt="">
                </label>
              </div>
            </div>
            <div class="col-lg-3 mt-3" *ngIf="!image">
              <div class="imgBox">
                <label for="imageUpload" class="d-flex justify-content-center align-items-center">
                  <span class="addImage">+</span>
                </label>
              </div>
            </div>
            <div class="col-lg-7"></div>
            <input (change)="upload($event)" id="imageUpload" type="file" hidden />
            <div class="col-lg-7 mt-3">
              <input type="text" formControlName="name" placeholder="Name" class="text-light w-100" />
              <ng-container *ngIf="addOnForm.get('name')?.errors && addOnForm.get('name')?.touched">
                <p class="error">Name is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3">
              <textarea type="text" formControlName="description" placeholder="Description" class="text-light w-100"
                rows="5"></textarea>
              <ng-container *ngIf="addOnForm.get('description')?.errors && addOnForm.get('description')?.touched">
                <p class="error">Description is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3">
              <input type="text" formControlName="price" placeholder="Price" class="text-light w-100" />
              <ng-container *ngIf="addOnForm.get('price')?.errors && addOnForm.get('price')?.touched">
                <p class="error">Price is required</p>
              </ng-container>
            </div>
            <div class="col-lg-7 mt-3 d-flex justify-content-between align-items-center">
              <button class="btn add-btn" [disabled]="!addOnForm.valid" (click)="saveCategory('addOn')">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
